/*
Theme Name: Gordon
Theme URI: https://gordon.re
Author: Gordon AKA Damien Nicolas
Author URI: https://www.gordon.so/
Version: 1.2
License: GNU General Public License
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

@font-face {
    font-family: 'title';
    src: url('../fonts/chintzy.ttf') format('truetype');
}

@font-face {
    font-family: 'pixel';
    src: url('../fonts/ka1.ttf') format('truetype');
}

@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'antt';
    src: url('../fonts/AntykwaTorunska-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'antt-italic';
    src: url('../fonts/AntykwaTorunska-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'antt-bold';
    src: url('../fonts/AntykwaTorunska-Bold.ttf') format('truetype');
}

.hide {display: none;}

.clear {clear: both;}

body {
    background: url(../images/background.png) top left repeat;
    font-family: droid, "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

a {
    color: rgb(142,152,177);
    text-decoration: underline;
}

a:hover {
    color: rgb(162,172,197);
}

a img {
    border: none;
    max-width:100%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

kbd {
    font-family: courier, sans-serif;
    background-color: rgba(142, 152, 177, 0.2);
    border: 1px solid rgba(142, 152, 177, 0.5);
    border-radius: 2px;
    font-size: 1.2em;
}

/* Assistive text */
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #1982d1;
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%;
}

hgroup{
    height:auto;
    margin-bottom: 1em;
}

header#branding {
    background-color: silver;
    width: 100%;
	height: 100px;
    background: -moz-linear-gradient(top,rgba(255,255,255,0.7),rgba(0,0,128,0.3)), url(../images/bg-header.png) top left repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.7)), to(rgba(0,0,128,0.3))), url(../images/bg-header.png) top left repeat;
    box-shadow: 0 0 25px #000;
    /*-moz-transform: rotate(1.5deg);*/
    z-index: 9000;
}

header#branding h1 {
    display:inline-block;
    max-width:45%;
    margin-top: .3em;
    font-family: title, courier, sans-serif;
    margin-left: 2em;
    font-size: 2.8em;
    letter-spacing: 0.1em;
    font-weight: normal;
}

header#branding h1 a {
    text-decoration: none;
    /*color: #3e517c;
    text-shadow: 0px 0px 7px #FFF;*/
    color: #FFF;
    text-shadow: 3px 3px 15px #000;
}

header#branding h1 a:hover {
    color: #FFF;
}

header#branding h2 {
    display:inline-block;
    color: #FFF;
    text-shadow: 3px 3px 15px #000;
    font-size: 1.4em;
    font-family: courier, sans-serif;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin: 0 0 0 2rem;
}
header#branding nav#access ul {
	margin-left: 15px;
}

header#branding nav#access li {
    display: inline;
	margin-left:8px;
}

header#branding nav#access a {
    padding: 3px;
    margin-right: 0;
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), #9EB0D3);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(#9EB0D3));
    border-radius: 5px 5px 0 0;
    position: relative;
    text-decoration: none;
    color: #DDD;
    font-family: courier, sans-serif;
    text-shadow: #000 1px 1px 1px;
    font-weight: bold;
}

header#branding nav#access a:hover {
    padding-bottom: 10px;
    top: -7px;
}

header#branding nav#access {

}
header#branding nav#accessibility {
    display: none;
}

header.entry-header{
    display: inline-block;
    width:100%;
}

#primary {
    float: left;
    margin: 0 -26.4% 0 0;
    width: 100%;
}
#content {
    margin: 0 1em 0 0;
    padding: .5em;
    max-width:73%;
}
/*
body.single #content, body.page #content {
    margin: 0;
}*/

#secondary {
    float: left;
    width: 24%;
    margin-top:.4rem;
}

#secondary > aside {
    max-width:100%;
}

#content header.page-header {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid rgba(0,0,0,.2);
    font-size: 0.8em;
    position: relative;
}

#content nav {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid rgba(0,0,0,.2);
    font-size: 0.8em;
    position: relative;
    background-color:#FFF;
}


article.post, article.page {

    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid rgba(0,0,0,.2);
    font-size: 0.8em;
    position: relative;
}

article.post header, article.page header {
    min-height: 60px;
}

article.post .entry-content a:hover, article.post .entry-utility a:hover, article.page .entry-content a:hover, article.page .entry-utility a:hover {
    text-shadow: 1px 1px 1px #FFF;
}

article.post .entry-title, article.page .entry-title {
    display:inline-block;
	max-width:80%;
    margin-top: 0;
    padding: 5px;
    font-size: 1.6em;
    font-family: courier, sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,.4);
    background: -moz-linear-gradient(left, rgba(142,152,177,.3), rgba(255,255,255,0));
    background: -webkit-gradient(linear, left top, right top, from(rgba(142,152,177,.3)), to(rgba(255,255,255,0)));
    border-radius: 5px;
}

article.post .entry-title a, article.page .entry-title a {
    color: rgba(0,0,0,.4);
    text-decoration: none;
}

article.post .entry-meta{
    display:inline-block;
    float:right;
    background: rgba(142, 162, 177, .2);
    padding:.2em;
    border: 1px solid #FFF;
    border-radius: 10px;
}

article.post .entry-date, article.page .entry-date {
    max-width:100%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-family: courier, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: #FFF 0 0 3px;
    font-size: 1.3em;
}

article.post a.entry-date-link, article.page a.entry-date-link {
    text-decoration: none;
}

article.post .comments-link.post-header, article.page .comments-link.post-header {
    position: absolute;
    right: 70px;
    top: 20px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-family: courier, sans-serif;
    font-weight: bold;
    color: rgba(142, 152, 177, 0.7);
    text-shadow: #FFF 0 0 3px;
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
    background-color: rgba(142,152,177,.3);
}

article.post .entry-date span, article.page .entry-date span {
    display: block;
    line-height: 25px;
    text-align: center;
}

article.post .entry-content h3, article.page .entry-content h3 {
    letter-spacing: 0.1em;
    line-height: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
}

article.post .entry-content h4, article.page .entry-content h4 {
    line-height: 2em;
    font-size: 1.2em;
}

article.post .entry-content p, article.page .entry-content p {
    margin: 10px;
    text-align: justify;
    line-height: 1.6em;
}

article.post .entry-content p:first-letter, article.page .entry-content p:first-letter {
    font-size: 1.2em;
}

article.post .entry-content .caption, article.page .entry-content .caption {
    padding: 5px;
    background-color: rgba(142,152,177,.5);
    border: 1px solid rgb(142,152,177);
    border-radius: 3px;
    max-width:100%;
}

article.post .entry-content .caption-text, article.page .entry-content .caption-text {
    font-style: italic;
    text-align: center;
}

article.post .caption img{
    max-width:100%;
}

article.post .entry-content acronym, article.page .entry-content acronym {
    border-bottom: 1px dotted black;
    cursor: help;
}

article.post .entry-content blockquote, article.page .entry-content blockquote {
    margin: 20px 10px;
    background: -moz-linear-gradient(bottom, rgba(142,152,177,.3), rgba(255,255,255,0));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(142,152,177,.3)), to(rgba(255,255,255,0)));
    border: 1px solid rgb(142,152,177);
    border-radius: 3px;
    font-style: italic;
}

article .entry-content code {
    /* background-color: rgba(142,152,177,.3); */
    /* border: 1px solid rgb(142,152,177); */
    /* border-radius: 3px; */
    font-family: courier, sans-serif;
}

article .entry-content pre.code, article .entry-content div.codehilite {
    display: inline-block;
    width:100%;
    margin: 0 auto;
    background-color: rgba(142,152,177,.3);
    border: 1px solid rgb(142,152,177);
    border-radius: 3px;
    font-family: courier, sans-serif;
    padding: 5px;
    overflow-x: auto;
}

div.codehilite {
	max-width:98%;
}

article.post .entry-content ul, article.post .entry-content ol, article.page .entry-content ul, article.page .entry-content ol {
    margin: 10px 10px 10px 40px;
}

article.post .entry-content dl,  article.page .entry-content dl {
    margin: 10px 10px 10px 40px;
}

article.post .entry-content dt,  article.page .entry-content dt {
    font-weight: bold;
}

article.post .entry-content dd,  article.page .entry-content dd {
    margin-left: 1em;
}

article.post .entry-content .text, article.page .entry-content .text {
    margin: 20px 10px;
    background: rgba(142,152,177,.1);
    border: 1px solid rgb(142,152,177);
    border-radius: 3px;
    text-align: justify;
    font-family: antt, serif;
    font-size: 1.5em;
    padding: 5px;
}

article.post .entry-content .text em, article.page .entry-content .text em, article.post .entry-content .text h3, article.page .entry-content .text h3 {
    font-family: antt-italic, serif;
}

article.post .entry-content .text strong, article.page .entry-content .text strong {
    font-family: antt-bold, serif;
}


article.post .entry-content .text p:first-letter, article.page .entry-content .text p:first-letter {
    padding-left: 1em;
}

article.post .entry-content .text p.intro:first-letter, article.page .entry-content .text p.intro:first-letter {
    padding: 2px;
    padding-left: 1em;
    font-size: 2em;
    float: left;
}

article.post .entry-content .text blockquote, article.page .entry-content .text blockquote {
    margin: 20px 10px;
    background: none;
    border: none;
    font-family: antt-italic, serif;
}

article.post .entry-content p.credits, article.page .entry-content p.credits {
    font-size: 0.8em;
}

article.post footer {
    clear: both;
    font-size: 0.8em;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(142,152,177,.5);
}

article.post footer a {
    color: rgb(65, 65, 96);
}

article.post footer div {
    margin-top: 3px;
}

article.post footer .taglist {
    display: inline;
    list-style-type: none;
    padding: 0;
}

article.post .taglist li {
    display: inline;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.6);
}

article.page footer {
    display: none;
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.size-full{
    max-width:100%;
}



aside {
    border-radius: 8px;
    padding: 5% 8%;
    background-color: rgba(142,152,177,.5);
    margin: .8rem;
    /*-moz-box-shadow: 0 0 10px rgba(142,152,177,1);*/
    /*-moz-box-shadow: 2px 2px 10px rgba(0,0,0,.5);*/
}

aside h3 {
    font-family: title, sans-serif;
    font-weight: normal;
    color: #404061;
    text-shadow: #FFF 0 0 2px;
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

aside p {
    margin-bottom: .8rem;
}

aside.widget_categories ul {
    list-style-type: none;
}

aside a {
    color: rgb(65, 65, 96);
}

aside a:hover {
    text-shadow: 1px 1px 1px #FFF;
}

aside div.textwidget h4 {
    font-family:title, sans-serif;
    text-align: center;
    font-weight: normal;
    color: #404061;
    text-shadow: #FFF 0 0 2px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size:1.2em;
}

aside div.textwidget ul#logolist {
    list-style-type: none;
}

aside div.textwidget ul#logolist li {
    text-align: center;
    margin-bottom: 10px;
}
.center {
    text-align: center;
}

footer#colophon {
    clear: both;
    margin: 10px;
    padding: 10px;
    background-color: rgba(142,152,177,.2);
    border-radius: 5px;
    text-align: center;
}

/* Code highlight*/
.codehilite .hll {
    background-color: rgba(142,152,177,.5);
    font-weight: bold;
    display: block;
}
code {
  /* padding: 0 0.2em; */
  /* border: 1px solid rgba(0, 102, 119, 0.2); */
  white-space: pre-wrap;
  font-family: "Monospace", "Courier New", sans;
}
article > code {
  display: block;
  padding: 0.5em;
  margin: 0.5em 2em;
  clear: both;
}
article > code[data-language]:before {
  content: attr(data-language) " code";
  color: #006677;
  float: right;
  font-size: 0.9em;
  line-height: 1em;
  font-style: italic;
  font-family: Verdana, Geneva, sans-serif;
}
*:lang(fr) article > code[data-language]:before {
  content: "code " attr(data-language);
}
.c,
.cm,
.cp,
.c1,
.cs {
  color: #cc1144;
}
.cp, .si {
  font-weight: bold;
}
.sc, .no, .bp, .nn {
  font-style: italic;
}
.s,
.sc,
.s1,
.s2,
.sd,
.si,
.sr,
.sb,
.sh,
.ss,
.sx,
.no {
  color: #cc4411;
}

.se {
  color: #cc1144;
  font-weight: bold;
}
.k,
.kn,
.kt,
.nb {
  color: #006677;
}
.nd,
.ne,
.m,
.mi,
.il,
.mf,
.mh,
.mo,
.na {
  color: #9911cc;
}
.nt {
  color: #4411cc;
}

table.codehilitetable{
    table-layout:fixed;
    width:100%;
}

td.linenos{
    width:3%;
    vertical-align:top;
}

a#lift{
    display:none;
}

/* medium screen */

@media screen and (max-width :900px){
    hgroup{
        height:auto;
    }
    header#branding h2 {
        margin : 0 0 0 2em;
    }
    #secondary{
        margin-left: -.5rem;
    }
    aside h3 {
        font-size:1.2rem;
    }
    aside a, aside ul li, aside p {
        font-size: .9rem;
    }
    #tipue_search_input{
        padding:.4rem;
    }

}

/* 1 column layout */
@media screen and (max-width: 750px){

    #secondary{
        margin-left:15%;
        width:70%;
    }
    #secondary #tipue_search_input{
        width:auto;
    }
    #content {
        max-width:90%;
        padding:.8rem;
        margin: 0 auto;
    }
    a#lift{
        display:inline-block;
        position:fixed;
        color:#414160;
        background-color: rgba(65,65,96,0.3);
        padding:1rem;
        bottom: 1rem;
        right: .5rem;
        font-size:1.5rem;
        z-index:999;
    }
}

/* small screen */
@media screen and (max-width:600px){
    #secondary{
        float:left;
        width:70%;
    }
    hgroup h2{
        text-align:center;
    }
}
