{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block body_classes %}single-post two-column right-sidebar{% endblock %}
{% block content %}
<div id="primary">
    <div id="content" role="main">
        {% include 'content.html' %}
    </div>
</div>
{% include 'sidebar.html' %}
{% endblock %}
