{% extends "index.html" %}
{% block title %}{{ gettext('Articles de %(name)s', name=author) }}{% endblock %}
{% block content_title %}
    <header class="page-header">
        <h1>{{ gettext('Articles de %(name)s', name=author.name) }}</h1>
    </header>
{% endblock %}

