<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}        <title>{% block title %}{{ gettext('Accueil') }}{% endblock title %} — {{ SITENAME }}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="stylesheet" type="text/css" media="all" href="/theme/css/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/theme/images/favicon.ico" />{% endblock head %}
        <link rel="stylesheet" href="/theme/tipuesearch/tipuesearch.css"/>
        {% block script %}
        <script src="/theme/js/jquery.min.js"></script>
        <script>
            function validateForm(query)
            {
                return (query.length > 0);
            }
        </script>
        {% if ISSO_SERVER %}
        <script data-isso="{{ ISSO_SERVER }}/" data-isso-lang="{{ DEFAULT_LANG }}" src="{{ ISSO_SERVER }}/js/embed.min.js"></script>
        {% endif %}
        {% endblock script %}
        {% if article %}
        {% for tag in article.ogtags %}
            <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
        {% endfor %}
            <meta property="og:image" content="{{SITEURL}}/images/blog_image.png" />
        {% endif %}
</head>

<body id="index" class="{% block body_classes %}two-column right-sidebar{% endblock %}">
    <div id="page" class="hfeed">
        <header id="branding" role="banner">
            <hgroup>
                <h1 id="site-title"><span><a href="{{ SITEURL }}" title="{{ SITENAME }}" rel="home">{{ SITENAME }}</a></span></h1>
                <h2 id="site-description">{{ SITESUBTITLE }}</h2>
            </hgroup>

            <nav id="access" role="navigation">
                <h3 class="assistive-text">{{ gettext('Menu principal') }}</h3>
                <div class="menu"><ul>
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                      {% for p in PAGES %}
                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                      {% endfor %}
                    {% else %}
                      {% for cat, null in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                      {% endfor %}
                    {% endif %}
                    {% if extra_siteurls %}
                        {% for lang, url in extra_siteurls.items() %}
                        <li><a href="{{ url }}/">{{ gettext('%(name)s version', name=(lang|lookup_lang_name)) }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul></div>
            </nav>

            <nav id="accessibility" role="navigation">
                <div class="skip-link"><a class="assistive-text" href="#content" title="{{ gettext('Aller au contenu principal') }}">{{ gettext('Aller au contenu principal') }}</a></div>
                <div class="skip-link"><a class="assistive-text" href="#secondary" title="{{ gettext('Aller au contenu secondaire') }}">{{ gettext('Aller au contenu secondaire') }}</a></div>
            </nav>
        </header>
        
        <div id="main">
		  	 <a id="lift" href="#search" title="Aller vers la recherche">&#11015;</a>
		</div>
            {% block content %}{% endblock %}
        </div>
        <footer role="contentinfo" id="colophon">
                <address id="about" class="vcard body">{{ gettext('Fièrement généré par <a href="http://getpelican.com/">Pelican</a>,
                qui tire avantage de <a href="http://python.org">Python</a>. Décoré par mes petits doigts barbus, amélioré par <a href="https://robinberthaud.fr">Robin</a> et hébergé sur mon grille-pain.') }}
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
    </div>
</body>
</html>
