{% extends "index.html" %}
{% block title %}{{ gettext('Catégorie %(name)s', name=category) }}{% endblock %}
{% block content_title %}
    <header class="page-header">
        <h1>{{ gettext('Articles de la catégorie %(name)s', name=category) }}</h1>
    </header>
{% endblock %}

