{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block body_classes %}single single-post{% endblock %}
{% block content %}
<div id="primary">
    <div id="content" role="main">
        <article id="post-{{ page.slug }}" class="post-{{ page.slug }} post hentry">    
            <header class="entry-header">
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="{{ gettext('Lien permanent vers %(name)s', name=page.title) }}">{{ page.title }}</a></h2>
            </header>
            <div class="entry-content">
                {{ page.content }}
            </div>
        </article>
    </div>
</div>
{% endblock %}
