{% if DEFAULT_PAGINATION %}
<nav>
    <p class="paginator">
        {% if articles_page.has_previous() %}
            {% if articles_page.previous_page_number() == 1 %}
                <a href="{{ SITEURL }}/{{ page_name }}.html">&laquo;</a>
            {% else %}
                <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;</a>
            {% endif %}
        {% endif %}
        {{ gettext('Page %(cur)s / %(max)s', cur=articles_page.number, max=articles_paginator.num_pages) }}
        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&raquo;</a>
        {% endif %}
    </p>
    </nav>
{% endif %}
