{% extends 'base.html' %}

{% block title %}
{{ gettext('Recherche') }}
{% endblock title %}


{% block script %}
    {{ super() }}
    {% if 'assets' in PLUGINS %}
    {% include '_includes/minify_tipuesearch.html' with context %}
    {% else %}
<script type="text/javascript" src="/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="/theme/tipuesearch/tipuesearch.js"></script>
<script type="text/javascript" src="/tipuesearch_content.js"></script>
    {% endif %}
<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch();
});
</script>
{% endblock script %}

{% block body_classes %}home two-column right-sidebar{% endblock %}
{% block content %}
<div id="primary">
<div id="content" role="main">
    <article class="search-results page">
        <header class="entry-header">
            <h2 class="entry-title">{{ gettext('Résultats de la recherche') }}</h2>
        </header>
        <div class="entry-content">
            <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
        </div>
    </article>
</div>
</div>
{% include 'sidebar.html' %}
{% endblock content %}
