{% extends "index.html" %}
{% block title %}{{ gettext('Tag %(name)s', name=tag) }}{% endblock %}
{% block content_title %}
    <header class="page-header">
        <h1>{{ gettext('Articles contenant le tag %(name)s', name=tag) }}</h1>
    </header>
{% endblock %}

